<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.peterd.soundswap"
      android:versionCode="1"
      android:versionName="1.0"
      android:debuggable="true">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".CompressActivity" android:label="CompressActivity" />
        <activity android:name=".FetchActivity" android:label="FetchActivity" />
        <activity android:name=".PlayFetchedActivity" android:label="PlayFetchedActivity" />
        <activity android:name=".RecordActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReviewActivity" android:label="ReviewActivity" />
        <activity android:name=".SendActivity" android:label="SendActivity" />
    </application>

    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 